# .gitignore
# Node / general
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
pnpm-lock.yaml
yarn.lock

# TypeScript
*.tsbuildinfo

# Env
.env
.env.local
.env.*.local

# Logs
logs
*.log
*.log.*
coverage

# Next.js
.next
out
.vercel

# Prisma
prisma/dev.db
prisma/dev.db-journal
prisma/test.db
prisma/test.db-journal

# Misc
.DS_Store
.idea
.vscode
